<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.flowersstore.ua"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. flowersstore.ua</name>

    <description>
        Служба доставки цветов в Киеве
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#3ABEC0" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b84fe934a15e33be4e94c36663b6a1f0.png" density="ldpi" />
        <icon src="res/android/icon/05693f25441c22a3c119e1eae48853be.png" density="mdpi" />
        <icon src="res/android/icon/7292efa1c2c10e84ef3b011c255caa31.png" density="hdpi" />
        <icon src="res/android/icon/84f2e08bdef8717c65e4435ec6199120.png" density="xhdpi" />
        <icon src="res/android/icon/976fa11b3e9dc01cd8d106e510535e78.png" density="xxhdpi" />
        <icon src="res/android/icon/d84087099f21e070e0bb4d5a8f04807c.png" density="xxxhdpi" />

        <splash src="res/android/screen/0f1ffe34b5560423ff5634ee2acb9876.png" density="port-hdpi"/>
        <splash src="res/android/screen/8d745c02022f291dd09aa5d9a459356d.png" density="port-ldpi"/>
        <splash src="res/android/screen/ace038052c581b9b7f1c279985d97b98.png" density="port-mdpi"/>
        <splash src="res/android/screen/ca0714812e957c696fb6f90ba3d7d09d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/032c8d87073aab8a63b582ca5148050c.png" width="180" height="180" />
        <icon src="res/ios/icon/ee178bcb49e103d7b3f099635243aa81.png" width="60" height="60" />
        <icon src="res/ios/icon/b0b7d173722d4c37d1ce16df8f5611c6.png" width="120" height="120" />
        <icon src="res/ios/icon/1364f0b7d3e425ac698621113a96a475.png" width="76" height="76" />
        <icon src="res/ios/icon/3b86b78302d4c9931e90627fbd1bdaf0.png" width="152" height="152" />
        <icon src="res/ios/icon/6736ed636df22db371137a08b709caef.png" width="57" height="57" />
        <icon src="res/ios/icon/7698a2d5e5e9d1421559507458af8f53.png" width="114" height="114" />
        <icon src="res/ios/icon/648e7a2fadfb8e60f13205a23a1328c7.png" width="72" height="72" />
        <icon src="res/ios/icon/9ace17b739d30319ef08bdbf30f50069.png" width="144" height="144" />
        <icon src="res/ios/icon/c6d9403c45c1d3c1aee697b388e88bde.png" width="167" height="167" />
        <icon src="res/ios/icon/b223c6a30f90b91e7a5eed5b696006fb.png" width="29" height="29" />
        <icon src="res/ios/icon/c21443455c3a3b2b83bde58593cbd16c.png" width="58" height="58" />
        <icon src="res/ios/icon/2b473673f1daaaf019cbc401e9cc8230.png" width="87" height="87" />
        <icon src="res/ios/icon/ceb01a480a69f34bcd0d8806f5cbb88c.png" width="167" height="167" />

        <splash src="res/ios/screen/5bbe85d0cf8d6d6c80c167c60e5a49b9.png" />
        <splash src="res/ios/screen/9cf4cb5c32427449c4c2e7a6c0e4088f.png" />
        <splash src="res/ios/screen/7ffa143d57be27595e7796896ac27a5b.png" />
        <splash src="res/ios/screen/e1515d67abee75629ccf41e4828d6dd0.png" />
        <splash src="res/ios/screen/fd8127d40f4fe5d225a1d3129df7258e.png" />
        <splash src="res/ios/screen/3ff1422a3870a4f2e7330c1dea8c411e.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/b51d13fa4f78f890dcaa75af1dd89fc9.png" target="StoreLogo" />
        <icon src="res/windows/icon/80f02e6b60e29a4a904423217dae7c73.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/b744d2a37c5275e4e5d60a3804e2b067.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/737a3d4b77cf1211c33a0015182973de.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/b12b69f287916d25fead09ea03bec67e.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/d44bdcc76ddac4814bafef34eb91d66f.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/cee8f104bf0a3cc40ee4c80f7ae8a22c.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/384cddc50191ac198d6e01e4feb7f061.png" target="SplashScreen"/>
        <splash src="res/windows/screen/b0c0456f97981812af708812c62b9305.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>